rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read: if false;
      allow create: if request.resource.data.keys().hasAll(['name', 'message', 'createdAt'])
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() <= 100
        && request.resource.data.message is string
        && request.resource.data.message.size() > 0
        && request.resource.data.message.size() <= 2000
        && request.resource.data.createdAt == request.time;
    }

    match /notifications/{notificationId} {
      allow read: if false;
      allow create: if request.resource.data.keys().hasAll(['type', 'message', 'createdAt'])
        && request.resource.data.type is string
        && request.resource.data.message is string
        && request.resource.data.createdAt == request.time;
    }
  }
}
